<div class="card">
  <div class="card-header">
    <h3>Detalle del Vehículo:</h3>
  </div>
  <div class="card-body">
    <div class="row">

      <div class="col-12">
        <form [formGroup]="formulario">
          <div class="mb-3 row">
            <label class="col-sm-2 col-for-label">Codigo:</label>
            <div class="col-sm-10">
              <input class="form-control" formControlName="codigo">

            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-2 col-for-label">Marca:</label>
            <div class="col-sm-10">
              <input class="form-control" formControlName="marca">

            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-2 col-for-label">Modelo:</label>
            <div class="col-sm-10">
              <input class="form-control" formControlName="modelo">
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-2 col-for-label">Color:</label>
            <div class="col-sm-10">
              <input class="form-control" formControlName="color">
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-2 col-for-label">Año:</label>
            <div class="col-sm-10">
              <input class="form-control" formControlName="anio">
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-2 col-for-label">Kilometraje:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" formControlName="kilometraje">
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-2 col-for-label">Foto(URL):</label>
            <div class="col-sm-10">
              <input class="form-control" formControlName="foto">
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-2 col-for-label">Precio:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" formControlName="precio">
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-2 col-for-label">Calificacion:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" formControlName="calificacion">
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <button class='btn btn-dark' (click)="guardar1()"> Guardar</button>
    </div>

  </div>
</div>

