<div class="card">
  <div class="card-header">
    <h3>Registro del Vehículo:</h3>
  </div>
  <div class="card-body">
    <div class="row">

      <div class="col-12">

        <form [formGroup]="formulario">
          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-for-label">Codigo:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="codigo" formControlName="codigo">
              <span class="text-danger" *ngIf="formulario.controls['codigo'].errors?.['required']">Valor
                Requerido</span>
            </div>

          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-for-label">Marca:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="marca" formControlName="marca">
              <span class="text-danger" *ngIf="formulario.controls['marca'].errors?.['required']">Valor Requerido</span>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-for-label">Modelo:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="modelo" formControlName="modelo">
              <span class="text-danger" *ngIf="formulario.controls['modelo'].errors?.['required']">Valor
                Requerido</span>

            </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-for-label">Color:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="color" formControlName="color">

            </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-for-label">Año:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="año" formControlName="anio">
              <span class="text-danger" *ngIf="formulario.controls['anio'].errors?.['required']">Valor Requerido</span>

            </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-for-label">Kilometraje:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="kilometraje"
                formControlName="kilometraje">
              <span class="text-danger" *ngIf="formulario.controls['kilometraje'].errors?.['required']">Valor
                Requerido</span>

            </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-for-label">Foto(URL):</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="Foto" formControlName="foto">
              <span class="text-danger" *ngIf="formulario.controls['foto'].errors?.['required']">Valor Requerido</span>

            </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-for-label">Precio:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="precio" formControlName="precio">
              <span class="text-danger" *ngIf="formulario.controls['precio'].errors?.['required']">Valor
                Requerido</span>

            </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-for-label">Calificacion:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="calificacion"
                formControlName="calificacion">
              <span class="text-danger" *ngIf="formulario.controls['calificacion'].errors?.['required']">Valor
                Requerido</span>

            </div>
          </div>

        </form>

      </div>
    </div>

    <div class="row">
      <button class='btn btn-dark' (click)="guardar()"> Guardar</button>
    </div>

  </div>
</div>
